html{
  height: auto;
  width: auto;
}
body {
  font-family: Arial, sans-serif;
  transition: background-color 0.8s ease; /* 배경색 전환 효과 */
  
}

.container {
  background-color: #fff;
  color: #333;
    transition: background-color 0.8s ease; /* 다크모드->화이트모드 전환효과 */
}
/* Dark mode 스타일 */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
.dark-mode #page{
  background-color: #121212;
  color: white;
  transition: background-color 0.8s ease;
}


.dark-mode .table th, .dark-mode .table td {
  border-color: white;
  background-color: #121212;
  color: white;
  transition: background-color 0.8s ease;
}

.dark-mode .btn-primary {
  background-color: #1e1e1e;
  border-color: #1e1e1e;
}

.dark-mode .form-control, .dark-mode .form-select, .dark-mode .btn, .dark-mode .pagination a, .dark-mode .page-link {
  background-color: #333333;
  color: #ffffff;
  border-color: #555555;
}

.dark-mode input::placeholder {
  color: #bbbbbb;
}

.dark-mode .page-link {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode .page-item.disabled .page-link {
  background-color: #555555;
  border-color: #555555;
  color: #999999;
}
/* 여기까지 Dark mode 스타일 */





/* 현재시간 스타일 영역 */
.datetime {
  font-size: 1em;
  margin: 0px;
  text-align: right;
}
#clock{
  margin: 5px;
}
/* 푸터 스타일 */
footer{
  font-size: 12px;
}